# Byte-compiled / optimized / DLL files
*.py[cod]
*.$py.class



# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/


# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Pycharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# Jupyter Notebook
.ipynb_checkpoints


# dotenv
.env
.env.*

# virtualenv
.venv
env/





# Media files
media/













# db.sqlite3
# db.sqlite3-journal